<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changing Age</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <h1>Dodo is growing up!</h1>

    <section id="app">
        <section v-for="i in 4">
            <img :src="getImgUrl(i)" alt="Dodo" @mouseover="hoverOver(i)" @mouseleave="hoverLeave(i)">
            <div v-if="i==1" id="youngest">
                <h2 v-if="i==1">I am the youngest Dodo!</h2>
            </div>
        </section>
    </section>
</body>

<!--Include Vue-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js"></script>

</html>